<?xml version="1.0"?>  
<configuration>  
	<urls>
		<url name="CHART_URL" value="http://apcndaec3ycs12:8080/#!/charts/"/>  
		<url name="CHART_SET_URL" value="http://apcndaec3ycs12:8080/#!/chart-sets/"/>
		<url name="CHART_API_URL" value="http://apcndaec3ycs12:3000/api/v1/charts"/>
		<url name="CHART_SET_API_URL" value="http://apcndaec3ycs12:3000/api/v1/chart-sets"/>
		<url name="REPOSITORY_URI" value="https://ccmclm.rockwellautomation.com/ccm"/>     
	</urls>
	<loginInfo>
		<Info name="USER_ID" value="svc-ra-rtcdl-metrics"/>
		<Info name="PASSWORD" value=">q8-FsDfwt@V'RC"/>
	</loginInfo>  
</configuration>