<?xml version="1.0" encoding="UTF-8"?>
<Products name="Program">
	<Bucket name="FTView" title="FTView" id="ftview">
		<Product name="FTView ART" title="FTView ART" id="ftview_art">
			<!-- Charts for PM -->
			<Charts name="PROGRESS MATRIX" title="PROGRESS MATRICS">
				<ChartGroup name="Overall" title="Overall" time="2018-05-17">
					<Chart name="Project Metrics" title="Project Metrics" url="http://apcndaec3ycs12:8080/#!/chart-sets/5afd42e990c8c204541aad5c" time="2018-05-17"/>
				</ChartGroup>
				<ChartGroup name="Detail" title="Detail" time="2018-05-17">
					<Chart name="FTView Release Burnup" title="Release BurnUp" url="http://apcndaec3ycs12:8080/#!/charts/5afd408b90c8c204541aad58" time="2018-05-17"/>
					<Chart name="PI12 Burn Down" title="PI BurnDown" url="http://apcndaec3ycs12:8080/#!/charts/5afd408b90c8c204541aad59" time="2018-05-17"/>
					<Chart name="Plan vs Actual by Sprint" title="Planned vs Actual" url="http://apcndaec3ycs12:8080/#!/charts/5afd408b90c8c204541aad5a" time="2018-05-17"/>
					<Chart name="Top 10 Epics" title="Top 10 Epics" url="http://apcndaec3ycs12:8080/#!/charts/5afd42e990c8c204541aad5b" time="2018-05-17"/>
				</ChartGroup>	
			</Charts>
			<!-- Charts for QA -->
			<Charts name="QUALITY MATRIX" title="QUALITY MATRICS">	
			</Charts>
		</Product>
	</Bucket>
	
	<Bucket name="Services" title="Services" id="services">
		<Product name="FTSP" title="FTSP" id="FTSP">
			<!-- Charts for PM -->
			<Charts name="PROGRESS MATRIX" title="PROGRESS MATRICS">
				<ChartGroup name="Overall" title="Overall" time="2018-05-17">
					<Chart name="Project Metrics" title="Project Metrics" url="http://apcndaec3ycs12:8080/#!/chart-sets/5afd435990c8c204541aad61" time="2018-05-17"/>
				</ChartGroup>
				<ChartGroup name="Detail" title="Detail" time="2018-05-17">
					<Chart name="FTSP Release Burnup" title="Release BurnUp" url="http://apcndaec3ycs12:8080/#!/charts/5afd431b90c8c204541aad5d" time="2018-05-17"/>
					<Chart name="PI7 Burn Down" title="PI BurnDown" url="http://apcndaec3ycs12:8080/#!/charts/5afd431b90c8c204541aad5e" time="2018-05-17"/>
					<Chart name="Plan vs Actual by Sprint" title="Planned vs Actual" url="http://apcndaec3ycs12:8080/#!/charts/5afd431b90c8c204541aad5f" time="2018-05-17"/>
					<Chart name="Top 10 Epics" title="Top 10 Epics" url="http://apcndaec3ycs12:8080/#!/charts/5afd435990c8c204541aad60" time="2018-05-17"/>
				</ChartGroup>	
			</Charts>
			<!-- Charts for QA -->
			<Charts name="QUALITY MATRIX" title="QUALITY MATRICS">	
			</Charts>
		</Product>
		<Product name="Communications" title="Communications" id="Communications">
			<!-- Charts for PM -->
			<Charts name="PROGRESS MATRIX" title="PROGRESS MATRIX">
				<ChartGroup name="Overall" title="Overall" time="2018-05-17">
					<Chart name="Project Metrics" title="Project Metrics" url="http://apcndaec3ycs12:8080/#!/chart-sets/5afd466990c8c204541aad66" time="2018-05-17"/>
				</ChartGroup>
				<ChartGroup name="Detail" title="Detail" time="2018-05-17">
					<Chart name="Communications Release Burnup" title="Release BurnUp" url="http://apcndaec3ycs12:8080/#!/charts/5afd44ad90c8c204541aad62" time="2018-05-17"/>
					<Chart name="PI7 Burn Down" title="PI BurnDown" url="http://apcndaec3ycs12:8080/#!/charts/5afd44ad90c8c204541aad63" time="2018-05-17"/>
					<Chart name="Plan vs Actual by Sprint" title="Planned vs Actual" url="http://apcndaec3ycs12:8080/#!/charts/5afd44ad90c8c204541aad64" time="2018-05-17"/>
					<Chart name="Top 10 Epics" title="Top 10 Epics" url="http://apcndaec3ycs12:8080/#!/charts/5afd466990c8c204541aad65" time="2018-05-17"/>
				</ChartGroup>	
			</Charts>
			<!-- Charts for QA -->
			<Charts name="QUALITY MATRIX" title="QUALITY MATRICS">	
			</Charts>
		</Product>
	</Bucket>
	
	<Bucket name="Logix" title="Logix" id="logix">
	</Bucket>
</Products>